{{#if products.length}}
{{#each products}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">${{price}}</h6>
    <p class="card-text">{{description}}</p>
    <p class="card-text">{{category}}</p>
  </div>
</div>
{{/each}}

{{else}}
<h2>No se encuentra la lista de productos</h2>
{{/if}}