<h1 class="title-prod">Lista de productos:</h1>
<h3>Bienvenido, {{session.first_name}} {{session.last_name}}. Tu rol es: {{session.rol}} </h3>
<button onclick="location.href='/api/users/logout'">Cerrar Sesion</button>
<button onclick="location.href='/perfil'">Ver perfil</button>
<button onclick="location.href='/cart'">Ver cart</button>
<div id="card-container" class="card-container">

    {{#if products.length}}
    {{#each products}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">${{price}}</h6>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{category}}</p>
            <p class="card-text">stock:{{stock}}</p>

            <button class="add-butt" onclick="addToCart('{{_id}}')">Añadir al carrito</button>
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>No se encontraron productos</p>
    {{/if}}
</div>

<script src="js/products.js" type="text/javascript"></script>